/vs/.vs
/.vs
/.vscode
/*.elf
/src/*.o
/src/cpu_main.o
/src/filter.o
/src/lan_driver.o
/src/m_ai.o
/src/main.o
/src/maintenance.o
/src/SPI.o
/src/st_temperature.o
/src/sys_init.o
/src/ad.o
/src/ADIO.o
/src/ads1113.o
/src/ai_update.o
/src/BSP_IODrv.o
/src/cpu_can_iap.o
ac_api.o
ac_compressor.o
ac_ctrl.o
ac_damp.o
ac_fan.o
ac_heat.o
ac_set.o
ac_timer.o
ex_module485.o
*.o
/src/canopen/OD/*.o
